/* BASE */

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

body {
  font-family: serif;
  display: flex;
  background-color: black;
  color: white;
}

header {

}

main {
}

section {

}

article {

}

span {
}

blockquote {
}

h1 {
  font-size: 2rem;
  font-family: "limelight", sans-serif;
  font-variant: small-caps;
}

h2 {
  font-size: 1.5rem;
  font-family: "limelight";
}

h3 {
  font-variant: small-caps;
  font-size: 0.9rem;
}

p {
  font-size: 0.7rem;
}

img {
}

/* LAYOUT */



/* MODULES */
.login{

}


/* STATE */
@@keyframes sumting {

}
/* THEME */
