<% include head.ejs %>
<title>Moodboards</title>
<h1>Moodboards</h1>

<% for (var index = 0; index < data.length; index++) { %>
<h2><a href="/moodboards/<%= data[index].id %>"><%= data[index].title %></a></h2>
<img src="/image/<%= data[index].id %>.jpg" alt="">


<% } %>
<% include tail.ejs %>
